<div id="loadingDiv" class="justify-content-center" style="
        position: fixed;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        display: none;
    ">
    <div class="spinner-border text-info" role="status" style="width: 5rem; height: 5rem;"></div>
</div>
