<div>
    <div>
        <h1>Knowing the UDID of my iOS device</h1>
        <p>Step 1: Follow the next link and install the certificate</p>
        <p> <a class="button" href="/apps/udid.mobileconfig">Proceed</a> </p>
    </div>
</div>

